{% extends 'base.html' %}
{% block content %}

{% if object%}
    <h1>Edit <span class="teal-text">{{ object.title }}</span></h1>
{% else %}
<h1 style="color: #EA8D5C">Log a Date!</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table> <br>
    <input type="submit" value="Submit!" class="btn #fb8c00 orange ">

</form><br>
<script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    const noteEl = document.getElementById('id_notes').setAttribute('placeholder', 'Describe what you did on your date!')

  </script>


{% endblock %}