{% extends 'base.html' %}
{% block content %}

<h3>Not sure what to do?</h3>
<div>
    {{ a.activity }}
    <br>
    type : {{ a.type }}

    <form action="" method="POST">
        {% csrf_token %}
         {% for a in all_activities %}
            <input type="hidden" name="name" value="{{ a.name }}">
            <input type="hidden" name="type" value="{{ a.type }}">
            <input type="hidden" name="participants" value="{{ a.participants }}">
            <input type="hidden" name="price" value="{{ a.price }}">
        {% endfor %}
        <button type="submit">Save Date Idea!</button>
    </form>
</div>
<a href="{url 'activity' }">click me for random idea</a>
<div class="col s6">
    {% for a in all_activities %}
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ a.name }}</span>
            <p>Type: {{ a.type }}</p>
            <p>Participants: {{ a.participants }}</p>
            <p>Price: {{ a.price }}</p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}