{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="">
    <br>
    <div class="row">
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1631412727237-226e759778d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1536344539068-d2e26c8dd3fe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1190&q=80">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1645384557751-6f5d05cad12e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1138&q=80">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1626965591277-06979c8963c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80">
        </div>
    </div>
    <div class="col 12">
        <h5 class=" teal lighten-1 center-align white-text">
            <br>
            Welcome to Save the Date!
            <br>
            <br>
            All time spent with loved ones is precious. We are here to assist you in keeping track of memories made with loved ones, while also providing a
            new and exciting way of choosing what your next memory will be.
            <br>
             Though it may seem like a trivial hangout, a simple coffee date
            may be reflected upon with much more wistful eyes.
            <br>
            <br>
        </h5>
    </div>
    <br>
    <div class="row">
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1600975607954-e1f9b9863c1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1595378883545-a1d7793a020c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1508954528226-0b941060b8bf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1233&q=80">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1600824207882-71fa9be44f7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1221&q=80">
        </div>
    </div>
    <div class="row">
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1422061289586-1060c743ec13?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1525616188-ccf49fddc5cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDF8fHBlb3BsZXxlbnwwfDJ8MHx8&auto=format&fit=crop&w=400&q=60">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1465311354905-789ff5f7a457?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1643812092469-514e55615bd3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Ym9hcmQlMjBnYW1lfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=400&q=60">
        </div>
    </div>
    <div class="row" style="justify-content: center">
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1621929725076-67eb80674485?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fHJlYWR8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1658278532577-98444463bc25?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YWN0aXZpdHl8ZW58MHwyfDB8fA%3D%3D&auto=format&fit=crop&w=400&q=60">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1655760476293-81b2b97a40b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1186&q=80">
        </div>
        <div class="col m3">
            <img class="responsive-img" style="width: 20vw; height: 20vw; object-fit: fill;"
                src="https://images.unsplash.com/photo-1592126296549-0e3edb40aca1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDJ8fGZyaWVuZHxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60">
        </div>
    </div>
</div>
<br>
</div>
{% endblock %}