{% extends 'base.html' %}
{% block content %}
<h1 style="color: #EA8D5C">{{ cur_month }}</h1>

<form action="" method="GET">
  
  <div class="input-field inline">
    <input type="date" name="date">
  </div>
  <button style="background-color: #79CDA1" class="btn waves-effect waves-light" type="submit">VIEW MONTH</button>
</form>

<div id="calendar">
  {% for date in dates %}
  <div class="row">
    <div id="row-col" class="col s4 m3 l2">
      <div id="calendar-card" class="card hoverable medium">
        {% if date.photo_set.count %}
        <div class="card-image">
          <img id="calendar-img" class="responsive-img" src="{{ date.photo_set.first.url }}" alt="photo of {{ date.title }}">
        </div>
        <div class="card-action">
          <a href="{% url 'detail' date.id %}" style="color: #EA8D5C">{{ date.date }}</a>
        </div>
      </div>
      {% else %}
      <div class="card-content">
        <span class="card-title truncate">{{ date.title }}</span>
        <p> {{date.notes }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'detail' date.id %}" style="color: #EA8D5C">{{ date.date }}</a>
      </div>
    </div>
    {% endif%}
</div>
{% empty %}
<h3>No Dates Yet</h3>
<h3 style="color: #EA8D5C">Get Started <i class="material-icons">arrow_forward</i>&nbsp;<a href="{% url 'create_date' %}" class="btn-floating btn-large waves-effect waves-light #9ccc65 light-green"><i class="material-icons">add</i></a></h3>
  {% endfor %}

</div>
{% endblock %}